<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%p [%t] %d{yyyy-MM-dd HH:mm:ss.SSS} %c{1}.%M(%L) | %m%n"/>
        </layout>
    </appender>
    
    <appender name="INFOLOG" class="org.apache.log4j.DailyRollingFileAppender">
	        <!-- The active file to log to -->
	        <param name="file" value="/var/log/tomcat6/launcher/system.log" />
	        <param name="append" value="true" />
	        <param name="encoding" value="UTF-8" />
	        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
	
	        <layout class="org.apache.log4j.PatternLayout">
	                <!-- The log message pattern -->
	                <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] %c:%L - %m%n" />
	        </layout>
	</appender>
	
	<appender name="ERRORLOG" class="org.apache.log4j.DailyRollingFileAppender">
	        <!-- The active file to log to -->
	        <param name="file" value="/var/log/tomcat6/launcher/error.log" />
	        <param name="append" value="true" />
	        <param name="encoding" value="UTF-8" />
	        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
	
	        <layout class="org.apache.log4j.PatternLayout">
	                <!-- The log message pattern -->
	                <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] %c:%L - %m%n" />
	        </layout>
	</appender>
	
	<appender name="DELIVERY_DELETE_LOG" class="org.apache.log4j.DailyRollingFileAppender">
	        <!-- The active file to log to -->
	        <param name="file" value="/var/log/tomcat6/launcher/deliveryDelete/system.log" />
	        <param name="append" value="true" />
	        <param name="encoding" value="UTF-8" />
	        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
	
	        <layout class="org.apache.log4j.PatternLayout">
	                <!-- The log message pattern -->
	                <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] %c:%L - %m%n" />
	        </layout>
	</appender>
	
	<appender name="INVENTORY_LOG" class="org.apache.log4j.DailyRollingFileAppender">
	        <!-- The active file to log to -->
	        <param name="file" value="/var/log/tomcat6/launcher/inventory/system.log" />
	        <param name="append" value="true" />
	        <param name="encoding" value="UTF-8" />
	        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
	
	        <layout class="org.apache.log4j.PatternLayout">
	                <!-- The log message pattern -->
	                <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] %c:%L - %m%n" />
	        </layout>
	</appender>
	<appender name="ITEM_ACK_LOG" class="org.apache.log4j.DailyRollingFileAppender">
	        <!-- The active file to log to -->
	        <param name="file" value="/var/log/tomcat6/launcher/itemAck/system.log" />
	        <param name="append" value="true" />
	        <param name="encoding" value="UTF-8" />
	        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
	
	        <layout class="org.apache.log4j.PatternLayout">
	                <!-- The log message pattern -->
	                <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] %c:%L - %m%n" />
	        </layout>
	</appender>
	<appender name="INVOICE_BB_LOG" class="org.apache.log4j.DailyRollingFileAppender">
	        <!-- The active file to log to -->
	        <param name="file" value="/var/log/tomcat6/launcher/invoiceBB/system.log" />
	        <param name="append" value="true" />
	        <param name="encoding" value="UTF-8" />
	        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
	
	        <layout class="org.apache.log4j.PatternLayout">
	                <!-- The log message pattern -->
	                <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] %c:%L - %m%n" />
	        </layout>
	</appender>
	<appender name="DELIVERY_BB_LOG" class="org.apache.log4j.DailyRollingFileAppender">
	        <!-- The active file to log to -->
	        <param name="file" value="/var/log/tomcat6/launcher/deliveryBB/system.log" />
	        <param name="append" value="true" />
	        <param name="encoding" value="UTF-8" />
	        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
	
	        <layout class="org.apache.log4j.PatternLayout">
	                <!-- The log message pattern -->
	                <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] %c:%L - %m%n" />
	        </layout>
	</appender>
	<appender name="DELIVERY_DELETE_BB_LOG" class="org.apache.log4j.DailyRollingFileAppender">
	        <!-- The active file to log to -->
	        <param name="file" value="/var/log/tomcat6/launcher/deliveryDeleteBB/system.log" />
	        <param name="append" value="true" />
	        <param name="encoding" value="UTF-8" />
	        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
	
	        <layout class="org.apache.log4j.PatternLayout">
	                <!-- The log message pattern -->
	                <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] %c:%L - %m%n" />
	        </layout>
	</appender>
	<appender name="DELIVERY_DELETE_AUDIT_LOG" class="org.apache.log4j.DailyRollingFileAppender">
	        <!-- The active file to log to -->
	        <param name="file" value="/var/log/tomcat6/launcher/audit/deliveryDelete.log" />
	        <param name="append" value="true" />
	        <param name="encoding" value="UTF-8" />
	        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
	
	        <layout class="org.apache.log4j.PatternLayout">
	                <!-- The log message pattern -->
	                <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] %c:%L - %m%n" />
	        </layout>
	</appender>
	
	<appender name="INVENTORY_AUDIT_LOG" class="org.apache.log4j.DailyRollingFileAppender">
	        <!-- The active file to log to -->
	        <param name="file" value="/var/log/tomcat6/launcher/audit/inventory.log" />
	        <param name="append" value="true" />
	        <param name="encoding" value="UTF-8" />
	        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
	
	        <layout class="org.apache.log4j.PatternLayout">
	                <!-- The log message pattern -->
	                <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] %c:%L - %m%n" />
	        </layout>
	</appender>
	<appender name="ITEM_ACK_AUDIT_LOG" class="org.apache.log4j.DailyRollingFileAppender">
	        <!-- The active file to log to -->
	        <param name="file" value="/var/log/tomcat6/launcher/audit/itemAck.log" />
	        <param name="append" value="true" />
	        <param name="encoding" value="UTF-8" />
	        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
	
	        <layout class="org.apache.log4j.PatternLayout">
	                <!-- The log message pattern -->
	                <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] %c:%L - %m%n" />
	        </layout>
	</appender>
	<appender name="INVOICE_BB_AUDIT_LOG" class="org.apache.log4j.DailyRollingFileAppender">
	        <!-- The active file to log to -->
	        <param name="file" value="/var/log/tomcat6/launcher/audit/invoiceBB.log" />
	        <param name="append" value="true" />
	        <param name="encoding" value="UTF-8" />
	        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
	
	        <layout class="org.apache.log4j.PatternLayout">
	                <!-- The log message pattern -->
	                <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] %c:%L - %m%n" />
	        </layout>
	</appender>
	<appender name="DELIVERY_BB_AUDIT_LOG" class="org.apache.log4j.DailyRollingFileAppender">
	        <!-- The active file to log to -->
	        <param name="file" value="/var/log/tomcat6/launcher/audit/deliveryBB.log" />
	        <param name="append" value="true" />
	        <param name="encoding" value="UTF-8" />
	        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
	
	        <layout class="org.apache.log4j.PatternLayout">
	                <!-- The log message pattern -->
	                <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] %c:%L - %m%n" />
	        </layout>
	</appender>
	<appender name="DELIVERY_DELETE_BB_AUDIT_LOG" class="org.apache.log4j.DailyRollingFileAppender">
	        <!-- The active file to log to -->
	        <param name="file" value="/var/log/tomcat6/launcher/audit/deliveryDeleteBB.log" />
	        <param name="append" value="true" />
	        <param name="encoding" value="UTF-8" />
	        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
	
	        <layout class="org.apache.log4j.PatternLayout">
	                <!-- The log message pattern -->
	                <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] %c:%L - %m%n" />
	        </layout>
	</appender>
	<appender name="DELIVERY_DELETE_RECEIVER_AUDIT_LOG" class="org.apache.log4j.DailyRollingFileAppender">
	        <!-- The active file to log to -->
	        <param name="file" value="/var/log/tomcat6/launcher/audit/deliveryDeleteReceiver.log" />
	        <param name="append" value="true" />
	        <param name="encoding" value="UTF-8" />
	        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
	
	        <layout class="org.apache.log4j.PatternLayout">
	                <!-- The log message pattern -->
	                <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] %c:%L - %m%n" />
	        </layout>
	</appender>
	
	<appender name="INVENTORY_RECEIVER_AUDIT_LOG" class="org.apache.log4j.DailyRollingFileAppender">
	        <!-- The active file to log to -->
	        <param name="file" value="/var/log/tomcat6/launcher/audit/inventoryReceiver.log" />
	        <param name="append" value="true" />
	        <param name="encoding" value="UTF-8" />
	        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
	
	        <layout class="org.apache.log4j.PatternLayout">
	                <!-- The log message pattern -->
	                <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] %c:%L - %m%n" />
	        </layout>
	</appender>
	<appender name="ITEM_ACK_RECEIVER_AUDIT_LOG" class="org.apache.log4j.DailyRollingFileAppender">
	        <!-- The active file to log to -->
	        <param name="file" value="/var/log/tomcat6/launcher/audit/itemAckReceiver.log" />
	        <param name="append" value="true" />
	        <param name="encoding" value="UTF-8" />
	        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
	
	        <layout class="org.apache.log4j.PatternLayout">
	                <!-- The log message pattern -->
	                <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] %c:%L - %m%n" />
	        </layout>
	</appender>
	<appender name="INVOICE_RECEIVER_BB_AUDIT_LOG" class="org.apache.log4j.DailyRollingFileAppender">
	        <!-- The active file to log to -->
	        <param name="file" value="/var/log/tomcat6/launcher/audit/invoiceReceiverBB.log" />
	        <param name="append" value="true" />
	        <param name="encoding" value="UTF-8" />
	        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
	
	        <layout class="org.apache.log4j.PatternLayout">
	                <!-- The log message pattern -->
	                <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] %c:%L - %m%n" />
	        </layout>
	</appender>
	<appender name="DELIVERY_RECEIVER_BB_AUDIT_LOG" class="org.apache.log4j.DailyRollingFileAppender">
	        <!-- The active file to log to -->
	        <param name="file" value="/var/log/tomcat6/launcher/audit/deliveryReceiverBB.log" />
	        <param name="append" value="true" />
	        <param name="encoding" value="UTF-8" />
	        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
	
	        <layout class="org.apache.log4j.PatternLayout">
	                <!-- The log message pattern -->
	                <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] %c:%L - %m%n" />
	        </layout>
	</appender>
	<appender name="DELIVERY_DELETE_RECEIVER_BB_AUDIT_LOG" class="org.apache.log4j.DailyRollingFileAppender">
	        <!-- The active file to log to -->
	        <param name="file" value="/var/log/tomcat6/launcher/audit/deliveryDeleteReceiverBB.log" />
	        <param name="append" value="true" />
	        <param name="encoding" value="UTF-8" />
	        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
	
	        <layout class="org.apache.log4j.PatternLayout">
	                <!-- The log message pattern -->
	                <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] %c:%L - %m%n" />
	        </layout>
	</appender>

    <logger name="net.sf.ehcache">

        <level value="ERROR"/>

    </logger>

    <!-- Suppress success logging from InteractiveAuthenticationSuccessEvent -->
    <logger name="org.acegisecurity">
        <level value="ERROR"/>
    </logger>

    <logger name="org.apache">
        <level value="WARN"/>
    </logger>

    <logger name="org.springframework">
        <level value="WARN"/>
    </logger>

	<logger name="com.fb.platform">
        <level value="DEBUG"/>
        <appender-ref ref="INFOLOG"/>
	</logger>
    <logger name="com.fb.platform.mom.deliveryDelete">
        <level value="INFO"/>
        <appender-ref ref="DELIVERY_DELETE_LOG"/>
    </logger>
    <logger name="com.fb.platform.mom.receiver.deliveryDelete">
        <level value="INFO"/>
        <appender-ref ref="DELIVERY_DELETE_LOG"/>
    </logger>
    <logger name="com.fb.platform.mom.inventory">
        <level value="INFO"/>
        <appender-ref ref="INVENTORY_LOG"/>
    </logger>
    <logger name="com.fb.platform.mom.receiver.inventory">
        <level value="INFO"/>
        <appender-ref ref="INVENTORY_LOG"/>
    </logger>
    <logger name="com.fb.platform.mom.receiver.itemAck">
        <level value="INFO"/>
        <appender-ref ref="ITEM_ACK_LOG"/>
    </logger>
    <logger name="com.fb.platform.mom.itemAck">
        <level value="INFO"/>
        <appender-ref ref="ITEM_ACK_LOG"/>
    </logger>
    <logger name="com.fb.platform.mom.receiver.bigBazaar.invoice">
        <level value="INFO"/>
        <appender-ref ref="INVOICE_BB_LOG"/>
    </logger>
    <logger name="com.fb.platform.mom.bigBazaar.invoice">
        <level value="INFO"/>
        <appender-ref ref="INVOICE_BB_LOG"/>
    </logger>
    <logger name="com.fb.platform.mom.receiver.bigBazaar.delivery">
        <level value="INFO"/>
        <appender-ref ref="DELIVERY_BB_LOG"/>
    </logger>
    <logger name="com.fb.platform.mom.bigBazaar.delivery">
        <level value="INFO"/>
        <appender-ref ref="DELIVERY_BB_LOG"/>
    </logger>
    <logger name="com.fb.platform.mom.receiver.bigBazaar.deliveryDelete">
        <level value="INFO"/>
        <appender-ref ref="DELIVERY_DELETE_BB_LOG"/>
    </logger>
    <logger name="com.fb.platform.mom.bigBazaar.deliveryDelete">
        <level value="INFO"/>
        <appender-ref ref="DELIVERY_DELETE_BB_LOG"/>
    </logger>
    <logger name="DELIVERY_DELETE_AUDIT_LOG">
        <level value="INFO"/>
        <appender-ref ref="DELIVERY_DELETE_AUDIT_LOG"/>
    </logger>
    <logger name="INVENTORY_AUDIT_LOG">
        <level value="INFO"/>
        <appender-ref ref="INVENTORY_AUDIT_LOG"/>
    </logger>
    <logger name="ITEM_ACK_AUDIT_LOG">
        <level value="INFO"/>
        <appender-ref ref="ITEM_ACK_AUDIT_LOG"/>
    </logger>
    <logger name="INVOICE_BB_AUDIT_LOG">
        <level value="INFO"/>
        <appender-ref ref="INVOICE_BB_AUDIT_LOG"/>
    </logger>
    <logger name="DELIVERY_BB_AUDIT_LOG">
        <level value="INFO"/>
        <appender-ref ref="DELIVERY_BB_AUDIT_LOG"/>
    </logger>
    <logger name="DELIVERY_DELETE_RECEIVER_AUDIT_LOG">
        <level value="INFO"/>
        <appender-ref ref="DELIVERY_DELETE_RECEIVER_AUDIT_LOG"/>
    </logger>
    <logger name="INVENTORY_RECEIVER_AUDIT_LOG">
        <level value="INFO"/>
        <appender-ref ref="INVENTORY_RECEIVER_AUDIT_LOG"/>
    </logger>
    <logger name="ITEM_ACK_RECEIVER_AUDIT_LOG">
        <level value="INFO"/>
        <appender-ref ref="ITEM_ACK_RECEIVER_AUDIT_LOG"/>
    </logger>
    <logger name="INVOICE_RECEIVER_BB_AUDIT_LOG">
        <level value="INFO"/>
        <appender-ref ref="INVOICE_RECEIVER_BB_AUDIT_LOG"/>
    </logger>
    <logger name="DELIVERY_RECEIVER_BB_AUDIT_LOG">
        <level value="INFO"/>
        <appender-ref ref="DELIVERY_RECEIVER_BB_AUDIT_LOG"/>
    </logger>
    <logger name="LOGERROR">
        <level value="WARN"/>
        <appender-ref ref="ERRORLOG"/>
    </logger>
    
    <logger name="LOGINFO">
        <level value="INFO"/>
        <appender-ref ref="INFOLOG"/>
    </logger>

    <root>
        <level value="DEBUG"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</log4j:configuration>
