<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%p [%t] %d{yyyy-MM-dd HH:mm:ss.SSS} %c{1}.%M(%L) | %m%n"/>
        </layout>
    </appender>
    
    <appender name="INFOLOG" class="org.apache.log4j.DailyRollingFileAppender">
	        <!-- The active file to log to -->
	        <param name="file" value="/var/log/tomcat6/sapReceiver/system.log" />
	        <param name="append" value="true" />
	        <param name="encoding" value="UTF-8" />
	        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
	
	        <layout class="org.apache.log4j.PatternLayout">
	                <!-- The log message pattern -->
	                <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] %c:%L - %m%n" />
	        </layout>
	</appender>
	
	<appender name="ERRORLOG" class="org.apache.log4j.DailyRollingFileAppender">
	        <!-- The active file to log to -->
	        <param name="file" value="/var/log/tomcat6/sapReceiver/error.log" />
	        <param name="append" value="true" />
	        <param name="encoding" value="UTF-8" />
	        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
	
	        <layout class="org.apache.log4j.PatternLayout">
	                <!-- The log message pattern -->
	                <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] %c:%L - %m%n" />
	        </layout>
	</appender>
	
	<appender name="DELIVERY_DELETE_LOG" class="org.apache.log4j.DailyRollingFileAppender">
	        <!-- The active file to log to -->
	        <param name="file" value="/var/log/tomcat6/sapReceiver/deliveryDelete/system.log" />
	        <param name="append" value="true" />
	        <param name="encoding" value="UTF-8" />
	        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
	
	        <layout class="org.apache.log4j.PatternLayout">
	                <!-- The log message pattern -->
	                <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] %c:%L - %m%n" />
	        </layout>
	</appender>
	<appender name="INVENTORY_LOG" class="org.apache.log4j.DailyRollingFileAppender">
	        <!-- The active file to log to -->
	        <param name="file" value="/var/log/tomcat6/sapReceiver/inventory/system.log" />
	        <param name="append" value="true" />
	        <param name="encoding" value="UTF-8" />
	        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
	
	        <layout class="org.apache.log4j.PatternLayout">
	                <!-- The log message pattern -->
	                <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] %c:%L - %m%n" />
	        </layout>
	</appender>
	<appender name="ITEM_ACK_LOG" class="org.apache.log4j.DailyRollingFileAppender">
	        <!-- The active file to log to -->
	        <param name="file" value="/var/log/tomcat6/sapReceiver/itemAck/system.log" />
	        <param name="append" value="true" />
	        <param name="encoding" value="UTF-8" />
	        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
	
	        <layout class="org.apache.log4j.PatternLayout">
	                <!-- The log message pattern -->
	                <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] %c:%L - %m%n" />
	        </layout>
	</appender>
	
	<appender name="DELIVERY_DELETE_AUDIT_LOG" class="org.apache.log4j.DailyRollingFileAppender">
	        <!-- The active file to log to -->
	        <param name="file" value="/var/log/tomcat6/sapReceiver/audit/deliveryDelete.log" />
	        <param name="append" value="true" />
	        <param name="encoding" value="UTF-8" />
	        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
	
	        <layout class="org.apache.log4j.PatternLayout">
	                <!-- The log message pattern -->
	                <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] %c:%L - %m%n" />
	        </layout>
	</appender>
	
	<appender name="INVENTORY_AUDIT_LOG" class="org.apache.log4j.DailyRollingFileAppender">
	        <!-- The active file to log to -->
	        <param name="file" value="/var/log/tomcat6/sapReceiver/audit/inventory.log" />
	        <param name="append" value="true" />
	        <param name="encoding" value="UTF-8" />
	        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
	
	        <layout class="org.apache.log4j.PatternLayout">
	                <!-- The log message pattern -->
	                <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] %c:%L - %m%n" />
	        </layout>
	</appender>
	<appender name="ITEM_ACK_AUDIT_LOG" class="org.apache.log4j.DailyRollingFileAppender">
	        <!-- The active file to log to -->
	        <param name="file" value="/var/log/tomcat6/sapReceiver/audit/itemAck.log" />
	        <param name="append" value="true" />
	        <param name="encoding" value="UTF-8" />
	        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
	
	        <layout class="org.apache.log4j.PatternLayout">
	                <!-- The log message pattern -->
	                <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] %c:%L - %m%n" />
	        </layout>
	</appender>

    <logger name="net.sf.ehcache">

        <level value="ERROR"/>

    </logger>

    <!-- Suppress success logging from InteractiveAuthenticationSuccessEvent -->
    <logger name="org.acegisecurity">
        <level value="ERROR"/>
    </logger>

    <logger name="org.apache">
        <level value="WARN"/>
    </logger>

    <logger name="org.springframework">
        <level value="WARN"/>
    </logger>

	<logger name="com.fb.platform">
        <level value="INFO"/>
        <appender-ref ref="INFOLOG"/>
	</logger>
    <logger name="com.fb.platform.mom.receiver.delivery">
        <level value="INFO"/>
        <appender-ref ref="DELIVERY_DELETE_LOG"/>
    </logger>
    <logger name="com.fb.platform.sap.client.idoc.platform.deliveryDelete.impl">
        <level value="INFO"/>
        <appender-ref ref="DELIVERY_DELETE_LOG"/>
    </logger>
    <logger name="com.fb.platform.mom.receiver.inventory">
        <level value="INFO"/>
        <appender-ref ref="INVENTORY_LOG"/>
    </logger>
    <logger name="com.fb.platform.sap.client.idoc.platform.inventory.impl">
        <level value="INFO"/>
        <appender-ref ref="INVENTORY_LOG"/>
    </logger>
    <logger name="com.fb.platform.sap.client.idoc.platform.itemAck.impl">
        <level value="INFO"/>
        <appender-ref ref="ITEM_ACK_LOG"/>
    </logger>
    <logger name="com.fb.platform.mom.receiver.itemAck">
        <level value="INFO"/>
        <appender-ref ref="ITEM_ACK_LOG"/>
    </logger>
	<logger name="DELIVERY_DELETE_AUDIT_LOG">
        <level value="INFO"/>
        <appender-ref ref="DELIVERY_DELETE_AUDIT_LOG"/>
    </logger>
    <logger name="INVENTORY_AUDIT_LOG">
        <level value="INFO"/>
        <appender-ref ref="INVENTORY_AUDIT_LOG"/>
    </logger>
    <logger name="ITEM_ACK_AUDIT_LOG">
        <level value="INFO"/>
        <appender-ref ref="ITEM_ACK_AUDIT_LOG"/>
    </logger>
	<logger name="LOGERROR">
        <level value="WARN"/>
        <appender-ref ref="ERRORLOG"/>
    </logger>
    
    <logger name="LOGINFO">
        <level value="INFO"/>
        <appender-ref ref="INFOLOG"/>
    </logger>
    
    <root>
        <level value="INFO"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</log4j:configuration>
