AllCommon/.classpath
AllCommon/.project
AllCommon/.settings/
authenticationCore/.classpath
authenticationCore/.project
authenticationCore/.settings/
catalogCommons/.classpath
catalogCommons/.project
catalogCommons/.settings/
catalogCore/.classpath
catalogCore/.project
catalogCore/.settings/
orderCore/.classpath
orderCore/.project
orderCore/.settings/
orderWS/.classpath
orderWS/.project
orderWS/.settings/
platformCaching/.classpath
platformCaching/.project
platformCaching/.settings/
userCore/.classpath
userCore/.project
userCore/.settings/
userWS/.classpath
userWS/.project
userWS/.settings/
AllCommon/bin/
catalogCommons/bin/
catalogCore/bin/
orderCore/bin/
orderWS/bin/
platformCaching/bin/
platformCommons/bin/
userCore/bin/
userWS/bin/
authenticationCore/target/
catalogCommons/target/
catalogCore/target/
orderCore/target/
orderWS/target/
platformCaching/target/
platformCommons/.classpath
platformCommons/.project
platformCommons/.settings/
platformCommons/target/
promotionCore/.classpath
promotionCore/.project
promotionCore/.settings/
promotionCore/target/
promotionWS/.classpath
promotionWS/.project
promotionWS/.settings/
promotionWS/bin/
promotionWS/target/
target/
testProject/.classpath
testProject/.project
testProject/.settings/
testProject/bin/
testProject/target/
userCore/target/
userWS/target/

