<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xmlns:context="http://www.springframework.org/schema/context"
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
       		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/tx 
            http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <!-- Enable @Transactional support -->
    <tx:annotation-driven/>
   <!-- Add new services here -->
    <bean id="walletService" class="com.fb.platform.wallet.service.impl.WalletServiceImpl">
        <property name="walletDao" ref="walletDao"/>
        <property name="walletTransactionDao" ref="walletTransactionDao"></property>
        <property name="walletPasswordSender" ref="walletPasswordSender"></property>
        <property name="refundExpiryDays">
        	<value>${refund.expiry.days}</value>
        </property>
    </bean>

    <!-- Add new Managers here --> 
    <bean id="walletManager" class="com.fb.platform.wallet.manager.impl.WalletManagerImpl">
    	<property name="authenticationService" ref="authenticationService"></property>
    </bean>
    
    
    <!-- Add new utility bean here -->
    <bean id="walletPasswordSender" class="com.fb.platform.wallet.util.GenerateSendWalletPassword">
    	<property name="userAdminService" ref="userAdminService"></property>
		<property name="mailSender" ref="mailSender"></property>
        <property name="smsSender" ref="smsSender"></property>
    </bean>
    
    <bean id="springMailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="174.36.208.35"/>
        <property name="port" value="25"/>  
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.localhost">mail.pantaloon.com</prop>
            </props>
         </property>
    </bean>
	
    <bean id="mailSender" class="com.fb.commons.mail.impl.MailSenderImpl">
        <property name="springMailSender" ref="springMailSender"/>
    </bean>
	
    <bean id="smsSender" class="com.fb.commons.sms.SmsSender" />
    
</beans>
