<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
       		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/tx 
            http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

    
    <!-- Enable @Transactional support -->
    <tx:annotation-driven/>
    
    <!-- =================================================================== -->
    <!-- Services: For accessing DAOs                                        -->
    <!-- =================================================================== -->
    <!-- Add new services here -->

     
     <bean id="pointsService" class="com.fb.platform.payback.service.impl.PointsServiceImpl">
        <property name="pointsUtil" ref="pointsUtil"></property>
        <property name="pointsDao" ref="pointsDao"></property>
    </bean>
    <bean id="pointsEarnService" class="com.fb.platform.payback.service.impl.PointsEarnServiceImpl">
        <property name="pointsEarnDao" ref="pointsEarnDao"></property>
        <property name="pointsUtil" ref="pointsUtil"></property>
        <property name="pointsService" ref="pointsService"></property>
        <property name="pointsDao" ref="pointsDao"></property>
    </bean>
     <bean id="pointsBurnService" class="com.fb.platform.payback.service.impl.PointsBurnServiceImpl">
        <property name="pointsUtil" ref="pointsUtil"></property>
        <property name="pointsDao" ref="pointsDao"></property>
        <property name="pointsService" ref="pointsService"></property>
    </bean>
    
	 <!-- =================================================================== -->
    <!-- Managers: For accessing Services                                        -->
    <!-- =================================================================== -->
    <!-- Add new Managers here -->
     
     <bean id="pointsManager" class="com.fb.platform.payback.service.impl.PointsManagerImpl">
    </bean>
    
   <!-- =================================================================== -->
    <!-- Utilities: For general methods                                      -->
    <!-- =================================================================== -->
    <!-- Add new Utilities here -->
    <bean id="pointsUtil" class="com.fb.platform.payback.util.PointsUtil">
    </bean>
</beans>
